/* # RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: rgb(221, 221, 221);
    padding: 10px 0;
}


/* # UTILS */

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }


  /* # HEADER */

  .container_header {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
    background-color: aqua;
  }


.header_image {
    line-height: 50px;
    vertical-align: middle;
  }

  .header_title {
    display: inline-block;
    line-height: 75px;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
  }


  /* # CARD HEADER */

  .card_header {
    background-color: white;
    padding: 20px 40px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom: 2px solid rgb(221, 221, 221);
  }

  .radius_button {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight:bold;
    color: white;
    border:0;
    background-color: rgb(0, 119, 255);
  }

  .button_blue {
    color: white;
    border:0;
    background-color: rgb(0, 119, 255);
  }

  .button_white {
    color: rgb(175, 175, 175);
    border:2px solid currentColor;
    border-color:currentColor;
    background-color: transparent;
  }


/* # CARD CONTENT */

.card_content {
    background-color: white;
    padding: 20px 40px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .list_title {
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 1.4rem;
  }

  .list {
    list-style-type: none;
    color:rgb(87, 87, 87);
    font-weight:medium;
    margin-bottom: 2rem;
  }

  .list-item {
    line-height: 25px;
  }

  .symbol {
    display: inline-block;
    text-align: center;
    height:25px;
    width:25px;
    border: 2px solid currentColor;
    border-radius: 50%;
  }

  .check {
    color:rgb(0, 161, 94);
  }

  .cross {
    color:rgb(201, 30, 0);
  }

  .item_subject {
    display: inline-block;
    height:25px;
    margin: 0 10px;
    color: rgb(48, 48, 48);
    font-size: 18px;
  }

  .item_rounded {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    color:white;
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 25px;
  }

  .intem_rounded_blue {
    background-color: rgb(0, 119, 255);
  }